<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if sleep}}SLEEP TIME!{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>